@charset "utf-8";
html, body {
	height:100%;
}
#cricketPokerBackgound{
	
 background: #000 url(../images/cricketpokerback.jpg) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
.maincontent{

	
}
.breadcrumb{
	background:url(../images/feltnoise3.bmp);
	backround-repeat:repeat;
	padding:20px;
	margin-left:-15px;
	margin-top:0px;
	margin-right:-15px;
	font-weight:700;
}
#flashRow{
	height:100%;
	width:100%;
}
#cricketPoker{
	
		background:#FFFFFF;
	  -moz-background-size: cover;
  background-size: cover;
}
#cricketPokerGame{
66.7%
}
#adSpaceBottom{
	margin-top:20px;
 height:100px;
 background:#FB3B0F url(../images/dummyad.png)center center no-repeat;
  -moz-background-size: cover;
  background-size: cover;


}

#twitterFeed{
width:33.3%;
}